<div class="hero is-white is-small is-resume-header">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile is-multiline is-vcentered">
                <!-- Image column -->
                <div class="column is-3-mobile is-one-quarter-tablet is-2 has-text-centered">
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="{{ site.image }}" alt="Profile Image">
                    </figure>
                </div>

                <!-- Name and job title column -->
                <div class="column is-9-mobile is-three-quarters-tablet is-7">
                    <div class="content">
                        {% assign first_name = site.first_name %}
                        {% assign last_name = site.last_name %}
                        {% assign full_name = site.full_name %}

                        {% if first_name and last_name %}
                            <h1 class="title">
                                <span class="first">{{ first_name }}</span>
                                <span>{{ last_name }}</span>
                            </h1>
                        {% elsif full_name %}
                            <h1 class="title">{{ full_name }}</h1>
                        {% else %}
                            <h1 class="title">Edit config.yml names</h1>
                        {% endif %}

                        <p class="subtitle">
                            <i class="fas fa-briefcase has-text-grey-darker	"></i> {{ site.job_title }} for
                            {{ site.technology }} at <i class="fas fa-map-marker-alt has-text-grey-darker	"></i>
                            {{ site.location }}
                        </p>
                    </div>
                </div>

                <!-- Details column -->
                <div class="column is-9-mobile is-three-quarters-tablet is-3">
                    <div class="content has-text-centered-mobile">
                        {% if site.city or site.country %}
                            <p>
                                <strong>{{ site.city }}, {{ site.country }}</strong>
                            </p>
                        {% endif %}
                        {% if site.contact_no %}
                            <p><strong>Contact:</strong> {{ site.contact_no }}</p>
                        {% endif %}
                        {% if site.email %}
                            <p><strong>Email:</strong> {{ site.email }}</p>
                        {% endif %}
                        {% if site.website %}
                            <p>
                                <strong>Website:</strong>
                                <a href="{{ site.website }}" target="_blank" rel="noopener noreferrer">
                                    {{- site.website -}}
                                </a>
                            </p>
                        {% endif %}
                        <div class="social-icons">
                            {% for social in site.social_media %}
                                <a
                                    href="{{ social.url }}"
                                    class="social-icon"
                                    target="_blank"
                                    rel="noopener noreferrer"
                                >
                                    <span class="icon"><i class="{{ social.icon }}"></i></span>
                                    <span>{{ social.handle }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
