<div class="skills">
    <div class="title is-size-5 has-text-primary has-text-weight-bold">
        <i class="mr-1 {{ site.skills.icon }}"></i> SKILLS
    </div>
    <hr class="has-background-primary" style="height: 3px; margin-top: 0.5rem;">
    <div class="columns mb-5 is-flex">
        {% for skill in site.skills.items %}
            <div class="column is-2 p-5">
                <div class="skill-item has-text-centered">
                    <span class="icon is-medium">
                        {% if skill.icon %}
                            <i class="{{ skill.icon }}" style="font-size:30px"></i>
                        {% elsif skill.image %}
                            <img
                                src="{{ skill.image }}"
                                alt="{{ skill.name }} icon"
                                style="max-width: 64px; max-height: 64px;"
                            >
                        {% endif %}
                    </span>
                    <span class="skill-name is-hidden">{{ skill.name }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
