<div class="title is-size-5 has-text-primary has-text-weight-bold mt-5">
    <i class="mr-1 {{ site.languages.icon }}"></i> Advertisement
</div>
<hr class="has-background-primary" style="height: 2px; margin-top: 0.5rem;">
<div class="columns is-centered">
    <div class="column">
        <div class=" box has-background-primary">
            <!-- Square (Responsive) -->
            <ins
                class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-1291242080282540"
                data-ad-slot="7663977887"
                data-ad-format="auto"
                data-full-width-responsive="true"
            ></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
