<div class="tools ">
    <div class="title is-size-5 has-text-primary has-text-weight-bold">
        <i class="mr-1 {{ site.tools.icon }}"></i> TOOLS
    </div>
    <hr class="has-background-primary" style="height: 2px; margin-top: 0.5rem;">
    <div class="columns is-multiline is-mobile">
        {% for tool in site.tools.items %}
            <div class="column is-3-desktop is-6-tablet is-12-mobile">
                <div class="tool-item has-text-centered">
                    <span class="icon is-large">
                        <i class="{{ tool.icon }}" style="font-size:25px"></i>
                    </span>
                    <div class="mt-1">{{ tool.name }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
