.highlight {
  color: #d0d0d0;
  background-color: #151515;
  border-left: 5px solid hsl(2, 71%, 53%);
  border-right: 5px solid hsl(2, 71%, 53%);
  border-radius: 0.5em;
}

.highlight .err {
  color: #151515;
  background-color: #ac4142;
}

.highlight .c,
.highlight .cd,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color: #505050;
}

.highlight .cp,
.highlight .nt,
.highlight .no {
  color: #f4bf75;
}

.highlight .o,
.highlight .ow {
  color: #d0d0d0;
}

.highlight .p,
.highlight .pi {
  color: #d0d0d0;
}

.highlight .gi {
  color: #90a959;
}

.highlight .gd {
  color: #ac4142;
}

.highlight .gh {
  color: #6a9fb5;
  background-color: #151515;
  font-weight: bold;
}

.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
  color: #aa759f;
}

.highlight .kc,
.highlight .kt,
.highlight .kd {
  color: #d28445;
}

.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1,
.highlight .ss {
  color: #90a959;
}

.highlight .sr {
  color: #75b5aa;
}

.highlight .si,
.highlight .se {
  color: #8f5536;
}

.highlight .nn,
.highlight .nc {
  color: #f4bf75;
}

.highlight .na {
  color: #6a9fb5;
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mb,
.highlight .mx {
  color: #90a959;
}
