{% if site.adsense %}
    {%- case include.type -%}
        {%- when 'square' -%}
            <!-- Square ( Responsive ) -->
            <style>
                .square-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100vh; /* Adjust as needed */
                }

                .square {
                    width: auto;
                    height: 250px;
                    margin: 20px; /* Adjust margins as needed */
                }

                @media (max-width: 799px) {
                    .square {
                        width: 300px;
                        height: 250px;
                    }
                }

                @media (max-width: 499px) {
                    .square {
                        width: 250px;
                        height: 250px;
                    }
                }
            </style>

            <div class="square-container">
                <div class="square">
                    <ins
                        class="adsbygoogle square"
                        data-ad-client="{{ site.ad_publisher_id }}"
                        data-ad-slot="7663977887"
                    >
                    </ins>
                </div>
            </div>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        {%- when 'button' -%}
            <!-- Button ( Responsive ) -->
            <style>
                .button-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100vh; /* Adjust as needed */
                }

                .button {
                    width: auto;
                    height: 60px;
                    margin: 20px; /* Adjust margins as needed */
                }
            </style>

            <div class="button-container">
                <div class="button">
                    <ins
                        class="adsbygoogle button"
                        data-ad-client="{{ site.ad_publisher_id }}"
                        data-ad-slot="3836856744"
                    >
                    </ins>
                </div>
            </div>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

            <!-- Add similar styling for other ad types -->
        {%- else -%}
            <!-- Invalid ad type -->
    {%- endcase -%}
{% endif %}
