<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="hero is-white is-small is-resume-header">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-mobile is-multiline is-vcentered">
                        <!-- Large 404 text column -->
                        <div class="column is-12 has-text-centered">
                            <h1 class="title is-1" style="font-size: 10rem;">404</h1>
                            <p class="subtitle">Oops! Page not found.</p>
                        </div>

                        <!-- Error details column -->
                        <div class="column is-9-mobile is-three-quarters-tablet is-7">
                            <div class="content">
                                <h1 class="title">
                                    <span class="first">Error</span>
                                    <span>Details</span>
                                </h1>
                                <p class="subtitle">
                                    The page you are looking for might have been removed, had its name changed, or is
                                    temporarily unavailable.
                                </p>
                            </div>
                        </div>

                        <!-- Return to homepage button -->
                        <div class="column is-3">
                            <div class="buttons is-centered">
                                <a href="/" class="button is-primary">
                                    <span class="icon"><i class="fas fa-home"></i></span>
                                    <span>Return to Homepage</span>
                                </a>
                            </div>
                        </div>

                        <!-- Create your own docs button -->
                        <div class="column is-3">
                            <div class="buttons is-centered">
                                <a href="/create-docs" class="button is-info">
                                    <span class="icon"><i class="fas fa-book"></i></span>
                                    <span>Create Your Own Docs</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
