---
layout: base
---
<div class="container">
    <div class="section">
        <div class="content">
            <h1 class="title is-2 mb-2">{{ page.title }}</h1>
            <p class="subtitle is-5 mb-5">{{ page.description }}</p>
            <div class="columns mt-5 ">
                <div class="column is-9">
                    {% if page.video_source == 'YouTube' %}
                        <div class="video-container">
                            <figure class="image is-16by9">
                                <iframe
                                    class="has-ratio"
                                    src="https://www.youtube.com/embed/{{ page.video_id }}?rel=0&amp;autoplay=0"
                                    frameborder="0"
                                    allowfullscreen
                                ></iframe>
                            </figure>
                        </div>
                    {% else %}
                        <div class="video-container">
                            <video controls width="100%">
                                <source src="{{ page.video_url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    {% endif %}
                    <script type="application/ld+json">
                        {
                            "@context": "http://schema.org",
                            "@type": "VideoObject",
                            "name": "{{ page.title }}",
                            "description": "{{ page.description }}",
                            "duration": "{{ page.video_duration }}",
                            "thumbnailUrl": "https://img.youtube.com/vi/{{ page.video_id }}/maxresdefault.jpg",
                            "embedUrl": "https://www.youtube.com/embed/{{ page.video_id }}",
                            "uploadDate": "{{ page.date }}",
                            "publisher": {
                                "@type": "Organization",
                                "name": "Your Organization"
                            }
                        }
                    </script>
                </div>
                <div class="column is-3 is-12-mobile">
                    <aside class="menu widget">
                        <p class="menu-label">Timestamps</p>
                        <ul class="menu-list">
                            {% for ts in page.timestamps %}
                                <li style="list-style:none;">
                                    <a href="#" class="has-text-black">
                                        <span class="icon"> <i class="fas fa-clock has-text-primary"></i> </span>
                                        <span>
                                            {{- ts.time }}
                                        </span>
                                        -
                                        <span class="has-text-weight-medium ">{{ ts.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>

                    <!-- Include Adsense -->
                    {% include ad/adsense.html type="square" %}
                </div>
            </div>

            <div class="container is-centered">
                {% include ad/adsense.html type="small-leaderboard" %}
            </div>

            <div class="columns is-multiline">
                <div class="column is-9">
                    {{ content }}
                    <div class="my-4">
                        {% include disqus.html %}
                    </div>
                </div>
                <div class="column is-3 mt-5">
                    <aside class="widget">
                        <h2 class="title is-5">My Other Videos</h2>
                        <div class="video-list">
                            {% for video in site.videos limit: 3 %}
                                <a href="{{ video.url }}" class="video-link">
                                    <div class="column">
                                        <figure class="image is-16by9">
                                            <img
                                                src="https://img.youtube.com/vi/{{ video.video_id }}/maxresdefault.jpg"
                                                alt="{{ video.title }}"
                                                class="video-thumbnail"
                                            >
                                        </figure>
                                        <p class="title is-5 mt-2">{{ video.title }}</p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
