---
layout: base
---
<div class="container">
    <div class="section">
        <div class="content">
            <h1 class="title">{{ page.title }}</h1>
            <p class="subtitle">{{ page.description }}</p>
            <div class="columns is-multiline">
                <div class="column is-9">
                    {% if page.video_source == 'YouTube' %}
                        <div class="video-container">
                            <iframe
                                width="560"
                                height="315"
                                src="{{ page.video_url | replace: 'watch?v=', 'embed/' }}"
                                frameborder="0"
                                allowfullscreen
                            ></iframe>
                        </div>
                    {% else %}
                        <div class="video-container">
                            <video width="560" height="315" controls>
                                <source src="{{ page.video_url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    {% endif %}
                </div>
                <div class="column is-3 is-12-mobile">
                    <aside class="menu widget">
                        <p class="menu-label">Timestamps</p>
                        <ul class="menu-list">
                            {% for ts in page.timestamps %}
                                <li style="list-style:none;">
                                    <a href="#" class="has-text-black">
                                        <span>
                                            {{- ts.time }}
                                            <span class="icon"> <i class="fas fa-clock has-text-primary"></i> </span
                                        ></span>
                                        -
                                        <span>{{ ts.title }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>

                    <!-- Bulma container for centering -->
                    <div class="container is-centered">
                        <!-- Your Bulma-centered content goes here -->
                        {% include ad/adsense.html type="square" %}
                    </div>
                </div>
            </div>

            <div class="columns is-multiline">
                <div class="column is-9">
                    {{ content }}
                </div>
                <div class="column is-3">
                    <aside class="widget">
                        <h2 class="title is-5">My Other Videos</h2>
                        <div class="video-list">
                            {% for video in site.videos limit: 3 %}
                                <a href="{{ video.url }}" class="video-link">
                                    <div class="column">
                                        <figure class="image is-16by9">
                                            <img
                                                src="https://img.youtube.com/vi/{{ video.video_url | remove: 'https://www.youtube.com/watch?v=' }}/maxresdefault.jpg"
                                                alt="{{ video.title }}"
                                                class="video-thumbnail"
                                            >
                                        </figure>
                                        <p class="title is-5 mt-2">{{ video.title }}</p>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        overflow: hidden;
        max-width: 100%;
        background: #000;
    }

    .video-container iframe,
    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>
<div class="my-4">
    {% include disqus.html %}
</div>
